/*********************HEADER***************************/
header div.head-line
	position :fixed
	top      :0
	left     :0
	right    :0
	z-index  :3
	opacity  :1
	height   :23px
	background-image:url(images/top_bg.png)

/*********************FOOTER***************************/

footer
	position :fixed
	bottom   :0
	left     :0
	right    :0
	opacity  :1
	z-index  :2
	height   :45px
	color    :#222
	background-image  :url(images/bot_bg.png)
	background-size   :contain
	background-repeat :repeat-x

footer h1
	padding: 10px 20px
	color: rgb(197, 183, 201)
	letter-spacing: 3px
	font-size: 27px
	font-family: Georgia,"Times New Roman",Times,serif

footer h1 p
	padding: 20px 0px 40px 20px
	color          :#FFF
	font-size      :13px
	font-family    :Georgia, "Times New Roman", Times, serif
	text-transform: uppercase
	font-weight:bold
	text-shadow: 2px 2px 1px black

footer div.social > div
	height:23px
	width:24px
	float: left
	background-repeat:no-repeat
	margin-left: 10px
	margin-top: 15px
	cursor: pointer
	
div.social > div > div
	height:23px
	width:24px
	position: absolute
	color: #FFF /*will be fix*/
	display: none
	bottom: 40px
	white-space: nowrap

div.social > div:hover > div
	display: block

div.social div.google
	background-image:url(images/google.png)
	background-position: 0 0
	&:hover
		background-position: 0 -22px

div.social div.foresst
	background-image:url(images/forrst.png)

div.social div.foresst:hover
		background-position: 0 -22px
	
div.social div.drible
	background-image:url(images/dribbble.png)

div.social div.drible:hover
		background-position: 0 -22px
