/* Header section
-------------------------------------------------- */
header.main
	div.head-line
		position  fixed
		top       0
		left      0
		right     0
		z-index   3
		opacity   0.95
		height    23px
		image  	 'images/top_bg.png'

/* Footer section
-------------------------------------------------- */

footer
	position  	fixed
	bottom    	0
	left      	0
	right     	0
	z-index   	2
	padding-top 1px
footer
	p
		color 		#6E6E6E
		float 		left
		margin-left 21px
		margin-top	21px
		font-size 	10px
		font-family Arial, Helvetica, sans-serif
	a
		text-decoration none
		color			#6E6E6E
		&:hover
		text-decoration underline
	div.foot-line
		opacity  			1
		height   			43px
		color     			#222
		image   			'images/bot_bg.png'
		background-size		contain
		background-repeat 	repeat-x