/*********************HEADER***************************/
header div.head-line
	position :fixed
	top      :0
	left     :0
	right    :0
	z-index  :3
	opacity  :1
	height   :23px
	background-image:url(images/top_bg.png)

