/*********************MENU***************************/
section.nav-container
	position: absolute
	top: 40px
	left: 10px
	z-index: 2

div.top-bg
	background-image:url(images/top-nav.png)
	height:35px
	width:231px
	background-size:100% 100%
		
div.bot-bg
	background-image:url(images/bot-nav.png)
	height:54px
	width:231px
	background-size:100% 100%
		
div.nav
	width:228px
	min-height:450px
	padding-top:1px
	background:url(images/nav-bg.png) repeat-y

div.logo
	background-image:url(images/logo.png)
	background-size:100% 100%
	background-position:center top
	background-repeat:no-repeat
  	width: 200px
 	height: 65px
	margin-top:30px
	overflow:hidden

h1
	text-indent:-50000px
	white-space: nowrap
	

menu
	margin-top:55px
	width:184px


li
	background-image:url(images/li-bg.png)
	height:38px
	

a
	display:block
	padding-bottom:10px
	padding-top:10px
	text-decoration:none
	color:#FFF
	font-size:15px
	letter-spacing:2px
	font-family:"Times New Roman", Times, serif
	font-weight:bold
	text-align:center
	text-transform:uppercase
	text-shadow: 2px 2px 1px black
			

&:hover{
	background-image:url(images/nav_hover.png);
}
&:active{
	color:gray;
}