/* Menu section
-------------------------------------------------- */
section.left-panel
	absolute top 40px left 20px
	z-index: 2
  div.top-bg
	  image : 'images/top-nav.png'
	  height:35px
	  width:246px
	  background-size:100% 100%
  div.bot-bg
	  image : 'images/bot-nav.png'
	  height:54px
	  width:246px
	  background-size:100% 100%

nav.menu
	width:246px
	min-height:400px
	padding-top:20px
	image:'images/nav-bg.png'
	background-repeat: repeat-y
  div.logo
	  width:190px
	  height:62px
	  margin-left: auto
	  margin-right: auto
	img
	  display:block

nav.menu menu
	margin-top:55px
	width:184px
	margin-left: auto
	margin-right: auto
  li
	  image : 'images/li-bg.png'
	  background-position:center bottom
	  background-repeat:no-repeat
  &:hover /*in lanati kojash eshtebahe :@*/
	a
		  image : 'images/nav_hover.png'
    a
	    display:block
	    padding-bottom:12px
	    padding-top:18px
	    text-decoration:none
	    color:#FFF
	    font-size:15px
	    letter-spacing:-1px
	    font-family:"Times New Roman", Times, serif /*khode site zade "Arial, Helvetica, sans-serif" ama shabih tarin font behesh timesNewRoman e !!*/
	    font-weight:bold
	    text-align:center
	    text-transform:uppercase
	    text-shadow: 1px 1px 3px black

nav.menu li a:active
	color:gray

/* SlideShow section
-------------------------------------------------- */

section.slideshow
  div.noise
	  position :fixed
	  top      :0
	  left     :0
	  right    :0
	  bottom   :0
	  z-index  :-1
	  background-position :left top
	  background-repeat   :repeat
	  image : 'images/picefct.png'

  div.backimg
    div.slideshow
	    position :fixed
	    top      :0
	    left     :0
	    right    :0
	    bottom   :0
	    z-index  :-2
	    background-position :center center
	    background-repeat   :no-repeat
	    background-size     :cover

/* RightPanel section
-------------------------------------------------- */

menu.right-panel
	fixed top bottom
	right:10px
	width:190px
	image : 'images/slide-bg.png'
	padding-top:1px
	opacity:.5
	transition:opacity 800ms
	&:hover /*ah ahhhh che ghadr gher o fer dare hover to stylus to less aslan Ejor nis*/
		opacity:1


menu.right-panel > li /*how to write it with stylus?*/
	height:91px
	width:161px
	padding-top:20px
	background-repeat:no-repeat
	margin: 0 auto