/*********************MENU***************************/
section.aside
	position: absolute
	top: 40px
	left: 10px
	z-index: 2

section.aside div.top-bg
	background-image:url(images/top-nav.png)
	height:35px
	width:231px
	background-size:100% 100%

section.aside div.bot-bg
	background-image:url(images/bot-nav.png)
	height:54px
	width:231px
	background-size:100% 100%

nav.menu
	width:228px
	min-height:450px
	padding-top:1px
	background:url(images/nav-bg.png) repeat-y

nav.menu div.logo
	background-image:url(images/logo.png)
	background-size:100% 100%
	background-position:center top
	background-repeat:no-repeat
	width:200px
	height:65px
	margin-top:30px
	overflow:hidden
	margin-left: auto
	margin-right: auto

nav.menu div.logo h1
	text-indent:-50000px
	white-space: nowrap

nav.menu menu
	margin-top:55px
	width:184px
	margin-left: auto
	margin-right: auto

nav.menu li
	background-image:url(images/li-bg.png)
	height:38px

nav.menu li a
	display:block
	padding-bottom:10px
	padding-top:10px
	text-decoration:none
	color:#FFF
	font-size:15px
	letter-spacing:2px
	font-family:"Times New Roman", Times, serif
	font-weight:bold
	text-align:center
	text-transform:uppercase
	text-shadow: 2px 2px 1px black

nav.menu li:hover a
	background-image:url(images/nav_hover.png)

nav.menu li a:active
	color:gray

/*********************SLIDESHOW***************************/

section.slideshow div.noise
	position :fixed
	top      :0
	left     :0
	right    :0
	bottom   :0
	z-index  :-1
	background-position :left top
	background-repeat   :repeat
	background-image    :url(images/picefct.png)

div.backimg  div.slideshow
	position :fixed
	top      :0
	left     :0
	right    :0
	bottom   :0
	z-index  :-2
	background-position :center center
	background-repeat   :no-repeat
	background-size     :cover

/*********************SLIDESHOW***************************/

aside.right-panel
	position: fixed
	top: 0
	bottom:0
	right:10px
	width:190px
	background-image:url(images/slide-bg.png)
	padding-top:1px
	-webkit-transition:opacity 800ms
	-moz-transition:opacity 800ms
	-o-transition:opacity 800ms
	-ms-transition:opacity 800ms
	transition:opacity 800ms

aside.right-panel > div
	height:91px
	width:161px
	padding-top:20px
	background-repeat:no-repeat
	margin: 0 auto
	cursor: pointer